<!-- NÃO FUNCIONA -->
<app-adicionar-funcionario [FuncionarioLista]="Funcionarios"></app-adicionar-funcionario>

<app-editar-funcionario [FuncionarioLista]="Funcionarios"></app-editar-funcionario>
<app-remover-funcionario [FuncionarioLista]="Funcionarios"></app-remover-funcionario>

<h1>Lista de Funcionarios</h1>

<table *ngIf="this.Funcionarios.length > 0" id="tabela">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cargo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of Funcionarios">
      <td>{{f.id}}</td>
      <td>{{f.nome}}</td>
      <td>{{f.idade}}</td>
      <td>{{f.cargo}}</td>
      <td>
        <div class="botoes">
          <button class="table-btn" (click)="editaFuncionario()">Editar</button>
          <button class="table-btn" (click)="removeFuncionario(f.id)">Remover</button>
        </div>
      </td>

      <td id="table-form">
        <form (submit)="editaFuncionario()" class="form-edit">
          <div id="form-edit">
            <div class="input-control">
              <label>Nome</label>
              <input type="text" for="nome" id="nomeEdit" [(ngModel)]="nomeEdit" name="inputNomeEdit">
            </div>

            <div class="input-control">
              <label>Idade</label>
              <input type="number" for="idade" id="idadeEdit" [(ngModel)]="idadeEdit" name="inputIdadeEdit">
            </div>

            <div class="input-control">
              <label>Cargo</label>
              <input type="text" for="cargo" id="cargoEdit" [(ngModel)]="cargoEdit" name="inputCargoEdit">
            </div>
          </div>

          <div class="input-control">
            <input type="submit" value="Editar">
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>


