<h1>Lista de Funcionarios</h1>

<table *ngIf="this.FuncionarioLista.length > 0" id="tabela">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cargo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of FuncionarioLista">
      <td>{{f.id}}</td>
      <td>{{f.nome}}</td>
      <td>{{f.idade}}</td>
      <td>{{f.cargo}}</td>
      <td>
        <div class="botoes">
          <button class="table-btn">Editar</button>
          <button class="table-btn">Remover</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<adicionar-funcionario [FuncionarioLista]='FuncionarioLista'></adicionar-funcionario>
